<?xml version="1.0" ?>
<model>
    <name>Robosub (Cobalt)</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>James Irwin</name>
        <email>james.irwin@wsu.edu</email>
    </author>
    <description>A model for PalouseRobosub's Cobalt Submarine</description>
</model>
