<?xml version="1.0"?>
<robot name="orca" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="include_flir" default="false"/>
  <xacro:arg name="include_gripper" default="false"/>
  <xacro:arg name="static_shoulder" default="true"/>

  <link name="base_link"></link>

  <link name="imu_link"></link>

  <link name="dvl_link"></link>

  <link name="pressure_sensor_link"></link>

  <link name="sonar_link"></link>

  <link name="front_camera_link"/>

  <link name="downwards_camera_link"/>

  <!-- base to imu -->
  <joint name="base_to_imu" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0057 0.0 0.0827" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- base to dvl -->
  <joint name="base_to_dvl" type="fixed">
    <parent link="base_link"/>
    <child link="dvl_link"/>
    <origin xyz="-0.130 0.003 0.2414" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- base to pressure sensor -->
  <joint name="base_to_pressure_sensor" type="fixed">
    <parent link="base_link"/>
    <child link="pressure_sensor_link"/>
    <origin xyz="-0.130 0.003 0.2414" rpy="0.0 0.0 0.0"/>
  </joint>

  <!-- base to fls -->
  <joint name="base_to_fls" type="fixed">
    <parent link="base_link"/>
    <child link="sonar_link"/>
    <origin xyz="0.271721 0.0 -0.203397" rpy="0.0 0.0 0.0"/>
  </joint>

  <xacro:if value="$(arg include_flir)">
    <xacro:include filename="flir_blackfly_s.urdf.xacro"/>
    <joint name="base_to_downwards_camera" type="fixed">
      <parent link="base_link"/>
      <child link="downwards_camera_link"/>
      <origin xyz="0.283615 -0.085021 0.094186" rpy="0.0 0 1.5708"/>
    </joint>

  <xacro:flir_blackfly_s frame="downwards_camera_link" base="downwards_camera" name="flir_blackfly"/>
  </xacro:if>

  <xacro:if value="$(arg include_gripper)">
    <xacro:include filename="gripper.urdf.xacro"/>

    <link name="gripper_link"/>

    <joint name="base_to_gripper" type="fixed">
      <parent link="base_link"/>
      <child link="gripper_link"/>
      <origin xyz="0.26 0.095 0.08" rpy="0 0 0"/>
    </joint>

    <xacro:gripper frame="gripper_link" static_shoulder="$(arg static_shoulder)"/>
  </xacro:if>

  <!-- RealSense -->
  <xacro:include filename="realsense_d555.urdf.xacro"/>
  <joint name="base_to_front_camera" type="fixed">
    <parent link="base_link"/>
    <child link="front_camera_link"/>
    <origin xyz="0.36362 0.0 -0.023395" rpy="3.14159 0 0"/>
  </joint>

  <xacro:realsense_d555 frame="front_camera_link" base="front_camera" name="realsense"/>

</robot>
