<?xml version="1.0"?>
<robot name="orca" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="include_flir" default="false"/>
  <xacro:arg name="include_gripper" default="false"/>
  <xacro:arg name="include_zed" default="false"/>

  <!-- base_link -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.2 0.1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
  </link>

  <!-- dvl_link -->
  <link name="dvl_link">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <!-- base to dvl -->
  <joint name="base_to_dvl" type="fixed">
    <parent link="base_link"/>
    <child link="dvl_link"/>
    <origin xyz="0.05 0.0 0.1" rpy="0.0 0.0 0.0"/>
  </joint>

  <xacro:if value="$(arg include_flir)">
    <xacro:include filename="$(find flir_camera_description)/urdf/flir_blackfly_s.urdf.xacro"/>
    <xacro:flir_blackfly_s frame="flir_camera" name="flir_blackfly"/>

    <joint name="base_link_to_flir" type="fixed">
      <parent link="base_link"/>
      <child link="flir_camera"/>
      <origin xyz="1.0 0.0 0.4" rpy="3.14159 0 0"/>
    </joint>
  </xacro:if>

  <xacro:if value="$(arg include_gripper)">
    <xacro:include filename="$(find gripper_description)/urdf/gripper.urdf.xacro"/>

    <joint name="base_to_gripper" type="fixed">
      <parent link="base_link"/>
      <child link="gripper_link"/>
      <origin xyz="0.5 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Only enable zed if gripper is also enabled -->
    <xacro:if value="$(arg include_zed)">
      <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
      <xacro:zed_camera name="zed" model="zed2i" custom_baseline="0.0" enable_gnss="false">
        <!-- offset from GNSS to camera mount point, if GNSS fusion is enabled -->
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      </xacro:zed_camera>

      <joint name="gripper_to_zed" type="fixed">
        <parent link="gripper_pitch_link"/>
        <child link="zed_camera_link"/>
        <origin xyz="0.3 0.0 -0.4" rpy="3.14159 0 0"/>
      </joint>

    </xacro:if>
  </xacro:if>



</robot>
