<?xml version="1.0"?>
<launch>

  <!-- Namespace arguments -->
  <!-- <arg name="ns_controller" default="controllers"/> -->
  <arg name="launch_beluga" default="false"/>
  <arg name="type" default="simulator"/>

  <rosparam command="load" file="$(find dp_controller2)/config/dp_Client.yaml"/>
  <rosparam command="load" file="$(find dp_controller2)/config/dp_PID.yaml"/>

  <!-- Controller nodes -->
  <!-- <group ns="$(arg ns_controller)"> -->
    <node pkg="dp_controller2"       type="dp_controller2_node"         name="dp_controller2"        output="screen"/>
    
    <node pkg="dp_reference_model2"       type="dp_reference_model2_node"         name="dp_reference_model2"        output="screen" />
    
    <group if="$(eval launch_beluga)">
        <include file="$(find auv_setup)/launch/beluga.launch">
            <arg name="type" value="$(arg type)" />
        </include>
    </group>
               

  <!-- </group> -->


</launch>
