<?xml version="1.0" ?>
<model>
    <name>Bin</name>
    <version>1.0</version>
    <sdf version="1.5">bin.sdf</sdf>
    <author>
        <name>Brandon Kallaher</name>
        <email>brandonj@kallaher.org</email>
    </author>
    <description>A model for the competition Marker Bins</description>
</model>
