<?xml version="1.0"?>
<launch>
    <include file="$(find los_guidance)/launch/los_backstepping_simulator.launch"/>

   <node
    name="pid_global_plan"
    pkg="pathplanning_test"
    type="pid_global_plan.py"
    output="screen">
   </node> 

  <include file="$(find utilities)/launch/publish_map_from_img.launch"/>

  <include file="$(find pathplanning_launch)/launch/move_base.launch"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find pathplanning_launch)/rviz/config_file_test_controller.rviz" />

</launch>
