    <launch>
        
	<node pkg="eskf" type="eskf" name="eskf_localization_node" clear_params="true" output="screen" />
	<rosparam file="$(find eskf)/apps/ros/parameters/pooltest2021_params.yaml" /> 

	<node 
	pkg = "driver_stim300"
	type = "stim300_driver_node"
	name = "stim300_driver"
	args="/dev/ttyUSB0"
	/>


	<!-- DVL -->
	
	<node pkg="dvl1000_ros" type="publisherDVL1000.py" name="publisherDVL1000" />
    
    </launch>