<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="topic" default="/auv/auv/camerafront/camera_image"/>

    <node
    name="gate_detect"
    pkg="gate_detect"
    type="gate_detect_node"
    args="$(arg topic)"
    output="screen">

    <remap from="image" to="$(arg topic)"/>
    </node>
</launch>
