<?xml version="1.0" ?>
<model>
    <name>marker</name>
    <version>1.0</version>
    <sdf version="1.5">marker.sdf</sdf>
    <author>
        <name>Peter Brennan</name>
        <email>peter.brennan@wsu.edu</email>
    </author>
    <description>A model for the markers the sub drops</description>
</model>
