#!/usr/bin/python3

from task_manager_defines import defines

PACKAGE = "task_manager"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
states = gen.add_group("States")

drop_down_menu = gen.enum([
    gen.const(defines.Tasks.joystick.name, int_t, defines.Tasks.joystick.id,
              "Joystick (Manual) Control"),
    gen.const(defines.Tasks.valve_vertical.name, int_t,
              defines.Tasks.valve_vertical.id, "Vertical Valve (TACC)"),
    gen.const(defines.Tasks.valve_horisontal.name, int_t,
              defines.Tasks.valve_horisontal.id, "Horizontal Valve (TACC)"),
    gen.const(defines.Tasks.pipeline_inspection.name, int_t,
              defines.Tasks.pipeline_inspection.id,
              "Pipeline Following (TACC)"),
    gen.const(defines.Tasks.docking.name, int_t, defines.Tasks.docking.id,
              "Docking (TACC)")
], "Tac_states")

#          Name           Type    Level  Description
states.add("Tac_states",
           int_t,
           0,
           "Tac tasks and states",
           edit_method=drop_down_menu)

exit(gen.generate(PACKAGE, "task_manager", "TacStates"))
