<?xml version="1.0" ?>
<launch>
  <include file="$(find uuv_descriptions)/launch/vortex_pool.launch"/>
  <include file="$(find manta_description)/launch/upload_manta.launch"/>
  <include file="$(find manta_thruster_manager)/launch/thruster_manager.launch"/>
  <include file="$(find vortex)/launch/pc.launch"/>
  <include file="$(find underwater_odom)/launch/underwater_odom.launch"/>
  <include file="$(find robot_localization)/launch/dvl_ekf_template.launch"/>
</launch>
