<launch>
  <arg name="namespace" /> 
  <rosparam command="load" file="$(find vtf_guidance_and_control)/config/beluga.yaml" />
  <node name="vtf_server" pkg="vtf_guidance_and_control" type="vtf_server.py" output="screen" />
  <?ignore
  <node name="vtf_guidance_and_control" pkg="vtf_guidance_and_control" type="guidance_and_control_node.py" ns="$(arg namespace)" output="screen" />
  ?>
</launch>
