[Unit]
Description=Launch internal status node
After=network.target

[Service]
# Use the wrapper script for ExecStart
# DONT CHANGE THIS LINE!!!!
# Use ./vortex-auv/add_service_files_to_bootup_sequence.sh to automatically set everything up
ExecStart=/bin/bash '<pathToThisFile>blackbox.sh'
WorkingDirectory=/home/vortex/
StandardOutput=journal+console
User=vortex
Restart=no
RestartSec=2

[Install]
WantedBy=multi-user.target