<?xml version="1.0" ?>
<model>
    <name>Gibb Pool</name>
    <version>1.0</version>
    <sdf version="1.5">gibb.sdf</sdf>
    <author>
        <name>Brandon Kallaher</name>
        <email>brandonj@kallaher.org</email>
    </author>
    <description>A model for WSU's Gibb pool</description>
</model>
