<?xml version="1.0"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />
 
  <!-- Input arguments -->
  <arg name="type" default="simulator"/> <!-- real|simulator -->

  <!-- Load parameters -->
  <rosparam command="load" file="$(find auv_setup)/config/robots/manta_enu.yaml"/>
  <rosparam command="load" file="$(find thruster_interface)/config/thruster_terrapin.yaml" />
  <rosparam command="load" file="$(find auv_setup)/config/environments/trondheim_freshwater.yaml"/>

  <!-- Include files -->
   <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <include file="$(find motion_launch)/launch/motion.launch"            pass_all_args="true"/>
  <include file="$(find navigation_launch)/launch/navigation.launch"    pass_all_args="true"/>

</launch>
