<?xml version="1.0"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

  <!-- INPUT ARGS -->
  <arg name="type" default="real"/> <!-- real | simulator -->
  <arg name="localization" default="ekf"/> <!-- ekf | eskf-->
  <arg name="dvl_ip" default="169.254.15.123"/>

  <!-- PARAMETERS -->
  <rosparam command="load" file="$(find auv_setup)/config/environments/trondheim_freshwater.yaml"/>
  <rosparam command="load" file="$(find auv_setup)/config/robots/beluga.yaml"/>

  <!-- TFs -->
  <include file="$(find auv_setup)/launch/tf.launch"/>

  <!-- DRIVERS -->
  <group if="$(eval type == 'real')">

    <!-- For monitoring internal state -->
    <include file="$(find internal_status)/launch/internal_status.launch" pass_all_args="true" />

    <!-- For launching the manipulator (gripper, torpedo, lights) nodes -->
    <!-- <include file="$(find manipulators_launch)/launch/manipulators.launch" pass_all_args="true"/> -->
    <include file="$(find gripper_interface)/launch/gripper_interface.launch"/>

    <!-- IMU -->
    <node pkg="driver_stim300" type="stim300_driver_node" name="driver_stim300"/>

    <!-- DVL -->	
    <node pkg="nucleus1000_driver" type="nucleus_ros_driver.py" name="nucleus1000_driver" output="screen">
        <param name="/dvl_ip" value="$(arg dvl_ip)"/>
    </node>

    <!-- Driver for communication between Xavier and thrusters over PCA9685 board -->
    <node pkg="thruster_interface" type="thruster_interface_node.py" name="thruster_interface" output="screen" />
    <node pkg="pca9685_ros_driver" type="pca9685_ros_node.py" name="pca9685_ros_driver" output="screen" />

    <!-- ZED2 camera node -->
    <!-- <include file="$(find zed_wrapper)/launch/zed2.launch" /> -->

    <!-- UDFC node -->
    <include file="$(find udfc_wrapper_node)/launch/udfc_wrapper_node.launch" />

  </group> <!-- end drivers -->

  <!-- Motion -->
  <include file="$(find motion_launch)/launch/motion.launch"            pass_all_args="true"/>
  
  <!-- Navigation -->
  <include file="$(find navigation_launch)/launch/navigation.launch"    pass_all_args="true"/>

  <!-- Task Manager -->
  <include file="$(find task_manager)/launch/task_manager.launch"/>

</launch>
