<?xml version="1.0" ?>
<launch>
<!-- IMU -->
<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu0" args="-0.094 0 0.1603 0 0 3.14159 base_link imu_0" />
<!-- DVL -->
<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_UNS" args="0 0 -0.145 0 0 3.14159 base_link uns_link" />
<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_UNS_ahrs" args="0 0 -0.145 0 0 3.14159 base_link uns_link_ahrs" />
<!--Sonar-->
<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_sonar" args="0.38 0 -0.140 0 0 3.14159 base_link sonar_link" /> <!--Check orientation-->

<!-- ZED 2 Camera -->
<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_center" args="0.38013 0 0.014 0 0 0 base_link zed2_camera_center" /> <!-- Remap cameraview to base -->

<!--Vertical ZED 2 Camera-->
<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_vertical_camera" args="-0.029 -0.077 -0.140 0 0 3.14159 base_link vertical_camera" /> <!--Check orientation-->

<!--Torpedos-->
<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_torpedo1" args="0.460 0.034 0.151 0 0 0 base_link torpedo1"/> 
<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_torpedo2" args="0.460 -0.0443 0.151 0 0 0 base_link torpedo2"/> 
</launch> 
