<?xml version="1.0"?>
<launch>

  <arg name="fsm_ns" default="fsm"/>

  <group ns="$(arg fsm_ns)">
    <node name="test_action_server" pkg="finite_state_machine"    type="test_action_server.py"                          />
    <node name="simulator_fsm"    pkg="finite_state_machine"    type="simulator_state_machine.py"    output="screen"/>
  </group>
</launch>