<?xml version="1.0"?>
<launch>

  <include file="$(find path_guidance)/launch/pid_global.launch"/>
  <include file="$(find inspect_point)/launch/inspect_point.launch"/>


  <!-- Lauch state machine -->
  <node name="inspect_point_sm"   pkg="finite_state_machine"    type="go_to_and_inspect_pt_sm.py"    output="screen"/>

</launch>
