<?xml version="1.0"?>
<launch>

  <arg name="fsm_ns" default="fsm"/>

  <group ns="$(arg fsm_ns)">
    <node name="goal_pose_server" pkg="finite_state_machine"    type="goal_pose_server.py"                          />
    <node name="robosub_fsm"    pkg="finite_state_machine"    type="robosub_fsm.py"    output="screen"/>
  </group>
</launch>