<?xml version="1.0"?>
<launch>

  <arg name="fsm_ns" default="fsm"/>

  <group ns="$(arg fsm_ns)">
    <!-- <node name="goal_pose_server" pkg="finite_state_machine"    type="goal_pose_server.py"                          /> -->
    <node name="robosub_fsm"    pkg="finite_state_machine"    type="robosub_fsm.py"    output="screen"/>
    <node name="landmarks"    pkg="landmarks"    type="landmarks"    output="screen"/>

    <group if="$(eval type == 'perception_simulator')">
      <node name="perception_simulator"    pkg="finite_state_machine"    type="perception_simulator.py"    output="screen"/> 
    </group>
    
  </group>
</launch>