<?xml version="1.0"?>
<!-- 
     Written by Kristoffer Rakstad Solberg & Øyvind Denvik, Students
     Copyright (c) 2019 Manta AUV, Vortex NTNU.
     All rights reserved. -->

<launch>
	<rosparam command="load" file="$(find underwater_odom)/param/environment_config.yaml" />
	<node pkg="underwater_odom" type="underwater_odom_node" name="underwater_odom_node" output="screen"/>
</launch>

