<?xml version="1.0" ?>
<model>
    <name>Torpedo Target</name>
    <version>1.0</version>
    <sdf version="1.5">torpedo_target.sdf</sdf>
    <author>
        <name>Brandon Kallaher</name>
        <email>brandonj@kallaher.org</email>
    </author>
    <description>A model for the competition Torpedo target</description>
</model>
