<?xml version="1.0"?>
<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

  <!-- For settings parameters in the controller -->
  <rosparam command="load" file="$(find vortex)/config/robots/manta_auv.yaml"/>
  <rosparam command="load" file="$(find thruster_interface)/config/thruster_terrapin.yaml" />
  <rosparam command="load" file="$(find vortex)/config/environments/trondheim_freshwater.yaml"/>

  <param name="thruster_interface/thrusters_connected" type="bool" value="false" />
  <param name="thruster_interface/rate_limiting_enabled" type="bool" value="false" />
  <param name="computer" value="pc-debug" />
  <param name="stepper/default_speed_rpm" value="1"/>

  <node name="thruster_interface" pkg="thruster_interface" type="thruster_interface_node.py" />
  <node pkg="dp_controller" type="node" name="controller" output="screen"/>
  <node pkg="vortex_allocator"  type="node" name="allocator"  />
<!--
 <node pkg="rosbag" type="record" name="rosbag_record_pose"
       args="record /odometry/filtered /manta/pose_gt /manta/waypoints "/>	-->

</launch>

