<?xml version="1.0"?>
<launch>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

  <rosparam command="load" file="$(find vortex)/config/robots/manta_enu.yaml"/>
  <rosparam command="load" file="$(find thruster_interface)/config/thruster_terrapin.yaml" />
  <rosparam command="load" file="$(find vortex)/config/environments/trondheim_freshwater.yaml"/>

<!--  <param name="mcu/device" type="string" value="/dev/ttySAC0"/>
  <node pkg="rostopic" type="rostopic" name="mcu_heartbeat" args="pub -r 1 /mcu_heartbeat std_msgs/String '{data: }'" respawn="true" /> -->

  <node pkg="thruster_interface" type="thruster_interface_node.py" name="thruster_interface"/>
  <node pkg="mcu_interface"      type="mcu_interface_node"         name="mcu_interface"      />
  <node pkg="dp_controller" type="node" name="controller" output="screen"/>
  <node pkg="vortex_allocator"   type="node"                       name="allocator"         />

</launch>
