<?xml version="1.0" ?>
<model>
    <name>Gate</name>
    <version>1.0</version>
    <sdf version="1.5">gate.sdf</sdf>
    <author>
        <name>Dustin Crossman</name>
        <email>dustin.crossman@gmail.com</email>
    </author>
    <description>A model for the competition start gate</description>
</model>
