<?xml version="1.0" ?>
<model>
    <name>Pool</name>
    <version>1.0</version>
    <sdf version="1.5">pool.sdf</sdf>
    <author>
        <name>Dustin Crossman</name>
        <email>dustin.crossman@gmail.com</email>
    </author>
    <description>A model for the TRANSDEC pool</description>
</model>
