<?xml version="1.0" ?>
<model>
    <name>vortex_logo</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ambjørn Waldum</name>
        <email>ambjorngwaldum@hotmail.com</email>
    </author>
    <description>A plane with the VORTEX logo </description>
</model>
