<?xml version="1.0" ?>

<launch>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <!--<remap from="map" to="manta/global_map"/>-->
    <rosparam file="$(find pathplanning_launch)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pathplanning_launch)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pathplanning_launch)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pathplanning_launch)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pathplanning_launch)/params/base_local_planner_params.yaml" command="load" />  
    <!-- <rosparam file="$(find pathplanning_launch)/params/dwa_local_planner_params.yaml" command = "load"/> -->
    <param name="global_costmap/global_frame" value="manta/odom"/>
    <param name="global_costmap/robot_base_frame" value="manta/base_link"/>
    <param name="global_costmap/laser_scan_sensor/sensor_frame" value="manta/sonar_link"/>
    <param name="global_costmap/laser_scan_sensor/topic" value="manta/sonar"/>    
    <param name="local_costmap/global_frame" value="manta/odom"/>
    <param name="local_costmap/robot_base_frame" value="manta/base_link"/>
    <param name="local_costmap/laser_scan_sensor/sensor_frame" value="manta/sonar_link"/>
    <param name="local_costmap/laser_scan_sensor/topic" value="manta/sonar"/>
    <param name="local_costmap/obstacle_layer/laser_scan_sensor/topic" value="manta/sonar"/>
  </node>




</launch>

