<?xml version="1.0" ?>
<model>
    <name>Navigation Channel</name>
    <version>1.0</version>
    <sdf version="1.5">channel.sdf</sdf>
    <author>
        <name>Brandon Kallaher</name>
        <email>brandonj@kallaher.org</email>
    </author>
    <description>A model for the competition Naviagation Channel</description>
</model>
