<?xml version="1.0"?>
<launch>
  <!--
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

  <rosparam command="load" file="$(find vortex)/config/robots/manta_enu.yaml"/>
  <rosparam command="load" file="$(find thruster_interface)/config/thruster_terrapin.yaml" />
  <rosparam command="load" file="$(find vortex)/config/environments/trondheim_freshwater.yaml"/>


  <node pkg="thruster_interface" type="thruster_interface_node.py" name="thruster_interface" />
  <node pkg="mcu_interface"      type="mcu_interface_node"         name="mcu_interface"      />
-->

  <include file="$(find utilities)/launch/publish_map_from_img.launch"/>
  <include file="$(find pathplanning_launch)/launch/move_base.launch"/>
  <node pkg="path_guidance"       type="pid_global.py" name="pid_global"     output="screen"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find path_guidance)/rviz/config_file_premade_map.rviz" />

<!--  <node pkg="vortex_allocator"   type="node"                       name="allocator"          />-->

</launch>
