<?xml version="1.0" ?>
<model>
    <name>Roulette Wheel</name>
    <version>1.0</version>
    <sdf version="1.5">roulette_wheel.sdf</sdf>
    <author>
        <name>Ryan Summers</name>
        <email>summers.ryan.m@gmail.com</email>
    </author>
    <description>A model for the competition roulette wheel</description>
</model>
