<?xml version="1.0"?>
<!-- 
     Written by Kristoffer Rakstad Solberg, Student
     Copyright (c) 2019 Manta AUV, Vortex NTNU.
     All rights reserved. -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
      The RexROV meshes and hydrodynamic parameters are based on the parameters and dimensions
      from the SF 30k.

      References:
        [1] Dukan, Fredrik. "ROV Motion Control Systems." PhD Thesis, NTNU, 2014.
        [2] Berg, Viktor. Development and Commissioning of a DP system for ROV SF 30k. MS
            thesis. Institutt for marin teknikk, 2012.
  -->
  <!-- includes -->
  <xacro:include filename="$(find uuv_descriptions)/models/common/urdf/common.urdf.xacro"/>
  <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro"/>
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>  


  <!-- color and material -->

<!--
    Vehicle's parameters (remember to enter the model parameters below)
  -->
  <!-- Mass -->
  <xacro:property name="mass" value="18"/>
  <!-- Describing the dimensions of the vehicle's bounding box: width, length, height -->
  <xacro:property name="x_size" value="0.448"/>
  <xacro:property name="y_size" value="0.444"/>
  <xacro:property name="z_size" value="0.28066"/>
  <!-- minion_usv_height is not really! It's just for run... We need first calculate the Fossen parameters -->
  <!-- Volume -->
  <xacro:property name="volume" value="0.01854"/>
  <!-- Center of gravity -->
  <xacro:property name="cog" value="0 0 -0.03"/>
  <!--
  Center of buoyancy according to eq. (3.1) p. 28 in Berg2012.
  The original values, [0.0822, -0.00773, 0.3872] however, seem to
  assume NWU (otherwise cob is below cog?). 0.155
  -->
  <xacro:property name="cob" value="0 0 0.05"/>
  <!-- Fluid density -->
  <xacro:property name="rho" value="1028"/>
  <!--
    Visual mesh file for the vehicle, usually in DAE (Collada) format. Be sure to store the
    mesh with the origin of the mesh on the same position of the center of mass, otherwise
    the mesh pose will have to be corrected below in the <visual> block.
    Open the meshes for the RexROV vehicle in Blender to see an example on the mesh placement.
  -->

  <!-- Parameters -->
  <xacro:property name="namespace" value="manta"/>
  <xacro:property name="visual_mesh_file" value="file://$(find manta_description)/mesh/manta_shell.dae"/>


  <xacro:macro name="manta_base" params="namespace *gazebo inertial_reference_frame">
   <!-- Rigid body description of the base link -->
      <link name="${namespace}/base_link">
        <!--
          Be careful to setup the coefficients for the inertial tensor,
          otherwise your model will become unstable on Gazebo
        -->
        <inertial>
          <mass value="${mass}" />
          <origin xyz="${cog}" rpy="0 0 0"/>
          <!-- <inertia ixx="525.39" ixy="1.44" ixz="33.41" iyy="794.20" iyz="2.6" izz="691.23"/> -->
          <inertia
            ixx="${0.80947}" ixy="-0.00308" ixz="-0.01546"
            iyy="${0.87794}" iyz="0.06283" izz="${1.57147}" /> 
        </inertial>

        <!-- This visual geometry representation can be used when running
             tasks in which you need Gazebo to start quickly
        -->
        <!-- <xacro:if value="${use_simplified_mesh}"> -->
        <!-- Code in rexrov2_base.xacro if use the flag use_simplified_mesh -->

        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="${visual_mesh_file}" scale="1 1 1" />
          </geometry>
        </visual>

        <!-- In manta_base i've made collision planes to minize the GPU load -->
    <collision>
      <geometry>
        <box size="0.3 03 0.15"/>
      </geometry>
    </collision>
      </link>

    <gazebo reference="${namespace}/base_link">
      <selfCollide>false</selfCollide>
    </gazebo>

    <!-- Set up hydrodynamic plugin given as input parameter -->
    <xacro:insert_block name="gazebo"/>

   <!-- Publishes -->
   <!-- ONLY NEED FOR SIMULATIONS (GAZEBO SPECIFIC) 
    This .xacro file is needed in simulation to be able to publish thrust commands to
    all the thrusters of the robot. if you run your controller the model will then
    receive topics on all its thrusters. The robot will not move just by launching
    this file alone -->
  <xacro:include filename="$(find manta_description)/urdf/manta_actuators.xacro"/>

   <!-- Publishes -->
   <!-- ONLY NEED FOR SIMULATIONS (GAZEBO SPECIFIC) 
     This .xacro file has to run to be able to move the robot when controller
     commands have been sent to the thrusters-->
  <xacro:include filename="$(find manta_description)/urdf/manta_sensors.xacro"/>

  </xacro:macro>
</robot>
