<?xml version="1.0"?>
<launch>

  <!-- Namespace arguments -->
  <arg name="ns_guidance"   default="guidance"/>
  <arg name="ns_controller" default="controller"/>
  <arg name="ns_thrust"     default="thrust"/>
  <arg name="ns_joystick"   default="joystick"/>

  <!-- AUV motion -->
  <group if="$(eval control_mode == 'auto')"/>
    <!-- Guidance nodes -->
    <group ns="$(arg ns_guidance)">
      <node pkg="los_guidance" type="los_guidance_backstepping.py" name="los"                         if="$(eval type == 'real')"     />
      <node pkg="los_guidance" type="los_guidance_backstepping.py" name="los"       output="screen"   if="$(eval type == 'simulator')"/>
      <node pkg="dp_guidance"  type="dp_guidance.py"               name="dp"        output="screen"                                   />
      <node pkg="interface"    type="guidance_interface.py"        name="interface" output="screen"                                   />
    </group>

    <!-- Controller nodes -->
    <group ns="$(arg ns_controller)">
      <node pkg="autopilot"           type="autopilot_node.py"     name="autopilot" output="screen"/>
      <node pkg="dp_controller"       type="dp_controller_node"    name="dp"        output="screen"/>
    </group>

      <!-- Thrust nodes -->
    <group ns="$(arg ns_thrust)">
      <node pkg="thruster_interface"  type="thruster_interface_node.py"   name="interface"/>
      <node pkg="vortex_allocator"    type="vortex_allocator_node"        name="allocator"/>
      <node pkg="mcu_interface"       type="mcu_interface_node"           name="mcu_interface"  if="$(eval type == 'real')"/> 
    </group>
  </group>


  <!-- ROV motion -->
  <group if="$(eval control_mode == 'manual')"/>

    <!-- Joystick nodes -->
    <group ns="$(arg ns_joystick)">
        <param name="joy/deadzone"        value="0.2"/>
        <param name="joy/autorepeat_rate" value="100"/>

        <node pkg="joy"                name="joy"                type="joy_node"              output="screen"/>
        <node pkg="topic_tools"        name="joy_throttler"      type="throttle"              output="screen" args="messages /joy 20"/>
        <node pkg="joystick_guidance"  name="joystick_guidance"  type="joystick_guidance.py"  output="screen"/>
    </group>

    <!-- Thrust nodes -->
    <group ns="$(arg ns_thrust)">
      <node pkg="thruster_interface"  type="thruster_interface_node.py"   name="interface"/>
      <node pkg="vortex_allocator"    type="vortex_allocator_node"        name="allocator"/>
      <node pkg="mcu_interface"       type="mcu_interface_node"           name="mcu_interface"  if="$(eval type == 'real')"/> 
    </group>
  </group>

</launch>