<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

  <!-- Init lights interface -->
  <node name="lights_interface" pkg="lights_interface" type="lights_interface_node.py" output="screen" />
  
  <!-- Init gripper interface -->
  <node name="gripper_interface" pkg="gripper_interface" type="gripper_interface_node.py" output="screen" />
</launch>
