<launch>
  <arg name="server_address" default="11.0.0.10"/>
  <arg name="server_base_port" default="22222"/>
  <arg name="frame_rate" default="0"/>
  <arg name="max_accel" default="10.0"/>
  <arg name="publish_tf" default="true"/>
  <arg name="fixed_frame_id" default="mocap"/>
  <arg name="udp_port" default="0"
    doc="UDP port can be set to -1 to request a TCP stream,
    setting 0 requests a random port, any other positive value 
    requests that specific port" />
  <arg name="qtm_protocol_version" default="18"/>
  <node pkg="mocap_qualisys"
    type="mocap_qualisys_node"
    name="qualisys"
    output="screen">
    <param name="server_address" value="$(arg server_address)"/>
    <param name="server_base_port" value="$(arg server_base_port)"/>
    <param name="frame_rate" value="$(arg frame_rate)"/>
    <param name="max_accel" value="$(arg max_accel)"/>
    <param name="publish_tf" value="$(arg publish_tf)"/>
    <param name="fixed_frame_id" value="$(arg fixed_frame_id)"/>
    <param name="udp_port" value="$(arg udp_port)"/>
    <param name="qtm_protocol_version" value="$(arg qtm_protocol_version)"/>
    <rosparam param="model_list">[]</rosparam>
    <!--remap from="qualisys/F450/odom" to="/f450/odom"/-->
  </node>
</launch>
