<launch>
	
	<!-- Kalman filter -->
	<include
	file = "$(find robot_localization)/launch/ekf_IMU_DVL.launch"
	/>


	<!-- Stim300 driver -->

	<node 
	pkg = "drivers-imu_stim300"
	type = "stim300"
	name = "stim300_driver"
	
	args="/dev/ttyUSB0"
	/>

	<!--Static transform from base_link to imu_frame --> 

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu0" args="0 0 0 0 0 0 base_link imu_0 100" />


	<!-- DVL -->
	
	<node pkg="dvl1000_ros" type="publisherDVL1000.py" name="publisherDVL1000" />

	<!--Static transform from base_link to DVL_frame --> 

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_DVL" args="-0.035 -0.017 -0.211 0 3.14159 0 base_link dvl_link 100" />


</launch>
