# This file defines parameters specific to Gladlaks
#
# When looking at the AUV from above, the thruster placement is:   

physical:
  mass_kg: TODO
  displacement_m3: TODO
  center_of_mass: [TODO, TODO, TODO]
  center_of_buoyancy: [TODO, TODO, TODO]
  drag_coefficients: [TODO, TODO, TODO, TODO, TODO, TODO]
  thruster_layout:
    [[ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO]]
  thruster_positions:
    [[ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO],
     [ TODO, TODO, TODO]]

propulsion:
  dofs:
    num: 6
    which:
      surge: true
      sway:  true
      heave: true
      roll:  true
      pitch: true
      yaw:   true
  thrusters:
    num: 8
    map: [0, 1, 2, 3, 4, 5, 6, 7]
    direction: [TODO, TODO, TODO, TODO, TODO, TODO, TODO, TODO]
    configuration_matrix:
      [[ TODO, TODO, TODO, TODO, TODO, TODO, TODO, TODO], # Surge
       [ TODO, TODO, TODO, TODO, TODO, TODO, TODO, TODO], # Sway
       [ TODO, TODO, TODO, TODO, TODO, TODO, TODO, TODO], # Heave
       [ TODO, TODO, TODO, TODO, TODO, TODO, TODO, TODO], # Roll
       [ TODO, TODO, TODO, TODO, TODO, TODO, TODO, TODO], # Pitch
       [ TODO, TODO, TODO, TODO, TODO, TODO, TODO, TODO]] # Yaw

    rate_of_change:
      max: TODO # Maximum rate of change in newton per second for a thruster
    characteristics:  # The relationship between thrust in newton and the width in microseconds of the PWM signal to the ESCs
      thrust:      [TODO]
      pulse_width: [TODO]
    offset: [TODO]

  command:
    wrench:
      max:     [ TODO, TODO, TODO, TODO, TODO, TODO]
      scaling: [ TODO, TODO, TODO, TODO, TODO, TODO]

controllers:
  LOS:
    circleOfAcceptance: 0.10
    frequency: 40 # THIS SHOULD BE 40Hz for the controller to perform good. This is because the built in reference model will work 2x faster as if the controller ran at 20Hz
    velocity_gain: 3.5   #0.4
    position_gain: 30.5   #5.0
    attitude_gain: 1.3  #2.5
    integral_gain: 0.024 #0.3
  los_controller:
    PID:
      p: 25.0
      i: 0.0024
      d: 3.5
      sat: 3.0
    backstepping:
      c:  3.75
      k1: 45.0
      k2: 28.0
      k3: 10.5
      
guidance:
  LOS:
    delta: 0.7
        
computer: TODO

torpedos:
  left_pin: TODO
  right_pin: TODO

joystick:
  scaling:
    surge: 10
    sway: 10
    heave: 10
    roll: 5
    pitch: 5
    yaw: 5
