name: Code Coverage
on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
jobs:
  code-coverage:
    uses: vortexntnu/vortex-ci/.github/workflows/reusable-code-coverage.yml@main
    with:
      vcs-repo-file-url: './dependencies.repos'
      before_install_target_dependencies: './scripts/ci_install_dependencies.sh'
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }} # Set in the repository secrets
