name: pre-commit

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
  workflow_dispatch:
jobs:
  call_reusable_workflow:
    uses: vortexntnu/vortex-ci/.github/workflows/reusable-pre-commit.yml@main
    with:
        ros_distro: 'humble'
        config_path: '.pre-commit-config.yaml'
